@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

//base variables
$base_delay: 300ms;
$base_borderRadius: 20px;
$base_backgroundColor: white;
$base_navButtonBackgroundColor: #f7f7f7;
$base_alterationPercentage: 5%;

/// Slightly darken a color
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/// Slightly lighten a color
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: $base_backgroundColor;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;

  .wrapper {
    width: 90dvw;
    max-width: 1100px;
    min-width: 215px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 50px;
    display: block;
  }
}

main {
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url("../images/map2.jpg");

  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0 20px 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
  min-height: calc(100dvh - 70px);
}

.footer {
  margin-top: 30px !important;
  padding: 5px 30px !important;

  section {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    background-color: $base_backgroundColor;
    flex-wrap: wrap-reverse;
  }
}


.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $base_backgroundColor;
  padding: 20px;
  transition: left 0.3s;

  ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  ul a {
    all: unset;
    color: #444444;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    text-decoration-thickness: 0;
    transition-duration: $base_delay;
  }

  ul a:hover, .current {
    color: #111111;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition-duration: $base_delay;
  }
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;

  button {
    all: unset;
    background: $base_navButtonBackgroundColor;
    font-size: 32px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: #444444;
  }

  button:hover {
    color: #222222;
    background: shade($base_navButtonBackgroundColor, $base_alterationPercentage);
  }
}

.menu-bar {
  button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $base_navButtonBackgroundColor;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }

  i {
    display: block;
    border-top: 3px solid #444444;
    border-bottom: 3px solid #444444;
  }

  i::after {
    display: block;
    content: "";
    border-top: 3px solid #444444;
    margin: 6px 0;
  }

  button:hover {
    background: shade($base_navButtonBackgroundColor, $base_alterationPercentage);
  }

  button:hover i {
    border-color: #222222;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background-color: $base_backgroundColor;
  border-radius: $base_borderRadius;
}

@media (min-width: 800px) {
  .navbar {
    all: unset;
    display: block;

    ul {
      flex-direction: row;
      gap: 20px;
    }

    ul a {
      font-size: inherit;
    }
  }
  .close-nav, .menu-bar {
    display: none;
  }
}

@media (max-width: 500px) {
  .footer {
    section {
      display: block;
      text-align: center;
    }
  }
}